<mat-card class="crudPair">
  Add Pair Story
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Story Number" [(ngModel)]="pairStoryData.STORY_NUM">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Description" [(ngModel)]="pairStoryData.DESC"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Story Owner</mat-label>
      <mat-select matNativeControl required [(ngModel)]="pairStoryData.MEMBER_ID">
        <mat-option *ngFor="let member of members" [value]="member.MEMBER_ID">{{member.DOMAINNAME }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Partner</mat-label>
      <mat-select matNativeControl required [(ngModel)]="pairStoryData.PARTNER_ID">
        <mat-option *ngFor="let member of members" [value]="member.MEMBER_ID">{{member.DOMAINNAME}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Iteration</mat-label>
      <mat-select matNativeControl required [(ngModel)]="pairStoryData.ITERATION_ID">
        <mat-option *ngFor="let iteration of iterations" [value]="iteration.ITERATION_ID">
          I{{iteration.ITERATION_NUM }} {{iteration.START_DATE | date:"MM/dd/yyyy"}} - {{iteration.END_DATE | date:"MM/dd/yyyy"}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="addPairStory()" color="primary">Add</button>
  </div>
</mat-card>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- ID Column -->

      <ng-container matColumnDef="PAIRING_HISTORY_ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.PAIRING_HISTORY_ID}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="STORY_NUM">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Story Num </th>
        <td mat-cell *matCellDef="let row"> {{row.STORY_NUM}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="DESC">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let row"> {{row.DESC}} </td>
      </ng-container>

      <ng-container matColumnDef="START_DATE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
        <td mat-cell *matCellDef="let row"> {{row.START_DATE | date:"MM/dd/yyyy"}} </td>
      </ng-container>

      <ng-container matColumnDef="END_DATE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
        <td mat-cell *matCellDef="let row"> {{row.END_DATE | date:"MM/dd/yyyy"}} </td>
      </ng-container>

      <ng-container matColumnDef="OWNER_NAME">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner Name </th>
        <td mat-cell *matCellDef="let row"> {{row.OWNER_NAME}} </td>
      </ng-container>

      <ng-container matColumnDef="PARTNER_NAME">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Partner Name </th>
        <td mat-cell *matCellDef="let row"> {{row.PARTNER_NAME}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </div>
  <!-- <mat-paginator [length]="resultsLength" [pageSize]="[10]"></mat-paginator> -->
</div>