.example-container {
    display: flex;
    flex-direction: column;
    
  }
.example-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
 }

.crudPair{
    min-height: 200px;
    min-width: 200px;  
    max-height: 700px;
    max-width: 700px;    
    padding-left:2ch;
    padding-top:1ch;
    padding-right:2ch;
    box-shadow: 1px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}


/* Structure */
.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
  