

.sidenav-container {
  
  height: 100%;
}

.sub-nav-list{
  position: absolute;
  right: 10px;
}

.sidenav {
  color:white;
  background-image:linear-gradient(#3f51b5,#4758b6b3);
  width: 240px;
}

.mat-list-base .mat-list-item {
  color: rgba(255, 255, 255, 0.9);
}
.sub-menu-button{
  color:#fff;
  background-image: linear-gradient(to bottom right, #3f51b5,#4758b6b3);
  
}

.sub-menu-button:hover{
  background-color: #a0adfa;
}


.sub-menu-icon{
  color:#fff;
}

.mat-menu-content{
  float:right;
  background-image: linear-gradient(to bottom right, #3f51b5,#4758b6b3);
}

.sidenav .mat-toolbar {
  color:rgba(255, 255, 255, 0.9);
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-nav-list a{
  font-size: 12px;
}
.mat-nav-list a.active {
  filter: brightness(75%);
  box-shadow:  1px 1px 1px 1px rgb(235, 235, 235);
}


