<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'side' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>MISC TOOL</mat-toolbar>
    
    <mat-nav-list>
        <mat-nav-list [matMenuTriggerFor]="reportMenu">
            <a mat-list-item ><mat-icon>device_hub</mat-icon>&nbsp;Pair Matrix<mat-icon class="sub-nav-list">arrow_forward</mat-icon></a>
        </mat-nav-list>
        <mat-menu #reportMenu="matMenu">
            <button mat-menu-item routerLink="/portal/pairmatrix" class="sub-menu-button"><mat-icon class="sub-menu-icon">table_chart</mat-icon>&nbsp;Pair Matrix Table</button>
            <button mat-menu-item routerLink="/portal/editpairmatrix" class="sub-menu-button"><mat-icon class="sub-menu-icon">edit</mat-icon>&nbsp;Edit Pair Matrix</button>
        </mat-menu>
      <a mat-list-item routerLink="/"><mat-icon>note_add</mat-icon>&nbsp;PCRS</a>
      <a mat-list-item routerLink="/portal/createbatch"><mat-icon>view_list</mat-icon>&nbsp;Create Batch</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Miscellaneous Tools</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
