
    <div class="grid-container">
      <h1 class="mat-h1">Pairing Matrix</h1>
      <mat-form-field>
        <mat-label>Iteration</mat-label>
        <mat-select matNativeControl (selectionChange)="loadPairMatrixByIteration($event.value)" required>
          <mat-option *ngFor="let iteration of iterations" [value]="iteration.ITERATION_ID">
            I{{iteration.ITERATION_NUM }}
            {{iteration.START_DATE | date:"MM/dd/yyyy"}} -
            {{iteration.END_DATE | date:"MM/dd/yyyy"}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="cards | async">
        <mat-grid-list [cols]="members.length + 1">
          <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows" [ngStyle]="{'background': card.positionX==card.positionY ? 'linear-gradient(to top right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) calc(50% - 0.8px),
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) calc(50% + 0.8px),
    rgba(0,0,0,0) 100%)' : 'inherit'}">
            <div class="pairName">
              {{card.name}}
            </div>
            <div class="pairCount">
              {{card.paircount}}
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>