.grid-container {
  min-height: 200px;
  min-width: 200px;  
  max-height: 700px;
  max-width: 700px;    
  padding-left:2ch;
  padding-top:1ch;
  padding-right:2ch;

  }

  .mat-select{
    width:25ch;
  }
  
  .mat-grid-tile{
    border-style: solid;
    border-width: thin;
  }
  
  .dashboard-card {
    position: absolute;
  }
  
  .crossed{
    background: 
           linear-gradient(to top right,
               rgba(0,0,0,0) 0%,
               rgba(0,0,0,0) calc(50% - 0.8px),
               rgba(0,0,0,1) 50%,
               rgba(0,0,0,0) calc(50% + 0.8px),
               rgba(0,0,0,0) 100%);
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }

  .pairName{
    font-size:1.2vw;
  }

  .pairCount{
    font-size:5.8vw;
  }

  .outerGridTile >::ng-deep .mat-figure {
    align-items: flex-start;
    justify-content: flex-start;
}